---
title: A Study of Transcription and Its Affects
layout: en
permalink: /
no_header: true
short_title: true
---

<section class="index-intro">
  <figure>
<!--     <img src="images/ui/docs-desktop.svg" alt="Image of desktop"> -->
  </figure>
  <h1>New around here? Let's get you going.</h1>
  <p><a class="get-started-button" href="user/getting-started">Getting Started</a></p>
</section>

<div class="row index-main">
  <div class="columns large-6">
    <section>
      <h2>Language-specific Guides</h2>
      <p>Learn about using Travis CI with your favourite programming language.</p>
      <div class="language-docs" >

      {% include languages.html %}

      </div>
    </section>
  </div>
  <div class="columns large-6">
    <section>
      <h2>Already know the basics? Check out the docs</h2>
      <div class="language-docs" >

      {% include languages.html %}

      </div>
  </div>
</div>
