/* Main Banner with Backround */
.back-main-banner {
    background-color: #22395C;
    color: #ffffff;
    height: 50vh;
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    background-size: 90vh 90vh;
    background-position: center;
    padding-top: 10vh;
}
/* Main Banner without Backround */
.noback-main-banner {
    background-color: #22395C;
    color: #ffffff;
    height: 50vh;
    padding-top: 10vh;
}
/* Header styles for the Main Banner with Backround */
.back-main-banner h1, .back-main-banner h2, .back-main-banner h3 {
    vertical-align: middle;
}
/* Header styles for the Main Banner without Backround */
.noback-main-banner h1, .noback-main-banner h2, .noback-main-banner h3 {
    vertical-align: middle;
}
/* Main Banner Button styles */
.main-banner-buttons {
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 3.2em;
    letter-spacing: 0.05em;
    line-height: 3.75em;
    text-align: center;
    padding-top: 2em;
}
/* Main Banner Menu styles */
.main-banner-menu {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 0.35s ease, visibility 0.35s;
    -webkit-transition: opacity 0.35s ease, visibility 0.35s;
    -ms-transition: opacity 0.35s ease, visibility 0.35s;
    transition: opacity 0.35s ease, visibility 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(46, 49, 65, 0.8);
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
}
.main-banner-menu .inner {
    padding: 2.5em 1.5em 0.5em 1.5em ;
    -moz-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em);
    -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
    -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
    -ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
    transition: opacity 0.35s ease, transform 0.35s ease;
    -webkit-overflow-scrolling: touch;
    background: #4c5c96;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    opacity: 0;
    position: relative;
    width: 18em;
}

.main-banner-menu h2 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
}

.main-banner-menu .close {
    background-image: url("images/close.svg");
    background-position: 75% 25%;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    border: 0;
    content: '';
    display: block;
    height: 4em;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 4em;
    top: 0;
    width: 4em;
}

.main-banner-menu .links {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}

.main-banner-menu .links li {
        padding: 0;
    }

    .main-banner-menu .links li a {
            border-radius: 5px;
            border: 0;
            display: block;
            font-family: Raleway, Helvetica, sans-serif;
            font-size: 0.8em;
            font-weight: 200;
            letter-spacing: 0.1em;
            line-height: 1.85em;
            padding: 0.75em 0;
            text-transform: uppercase;
        }

        .main-banner-menu .links li a:hover {
                background: #45558d;
            }

@media screen and (max-width: 736px) {

    .main-banner-menu .inner {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .main-banner-menu .inner .close {
            background-size: 1.5em 1.5em;
        }

}
/* Top Bar setting */
.top-bar, .top-bar ul {
    background-color: #4F678D;
    color: #ffffff;
}
.top-bar-logo {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}
.top-bar a {
    color: #ffffff;
}
.top-bar-title {
    font-weight: bold;
    padding-left: 2em;
}
/* Left Bar setting */
.left-bar, .left-bar ul {
    background-color: #4F678D;
    color: #ffffff;
}
.left-bar-logo {
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
}
.left-bar a {
    color: #ffffff;
}
.left-bar-title {
    font-weight: bold;
    padding-top: 2em;
}
/* Main Content styles */
.main-content {
    padding-top: 3em;
}
